
li:hover{
		background-color:grey;
		color:#993333;
	}
.abc{
	color:#993333;
	font-weight:bold;
	font-size:20px;
	
}
td{
	padding:5px;
}
tr{
	padding-bottom:5px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
 .mydiv{
	 padding:20px;
	 border:1px solid #993333;
	 border-radius:5px;
 }
 